<input type="text" [(ngModel)]="byusername" placeholder="SEARCH BY FIRSTNAME">
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email id</th>
            <th>phone no</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of data | searchFilter : byusername ">
            <!-- <tr *ngFor="let user of data"> -->
            <td>
                {{user.id}}
            </td>
            <td>
                {{user.firstname}}
            </td>
            <td>
                {{user.lastname}}
            </td>
            <td>  
                {{user.emailadd}}
            </td>
            <td>
                {{user.phoneno}}
            </td>
            <td>
                <button (click)="deleteuser(user.id)">Delete</button>
                <a routerLink="/update/{{user.id}}">Edit</a>
            </td>
        </tr>
    </tbody>
</table>